h2
{
	font-size:24px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-weight: normal;
	color: white;
	padding-left: 10px;
	line-height: 100%;
	padding-top: 10px;
	text-align: top;
}

p.tabhead
{
	font-size:12px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	padding-left: 0px;
	line-height: 100%;
	padding-top: 10px;
}

p
{
	font-size:12px;
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-weight: normal;
	color: white;
	padding-left: 0px;
	line-height: 100%;
	padding-top: 10px;
}

.blackbox { border : 1pt solid white; background-color: gray; background: gray; }
.boxborder { border : 1pt solid white;  background: white; margin: 30px; background-color:black;}	
